# Ignore build output
/flush_reload_test
/build/
/nimcache/
/analysis/analyze

# Ignore test output
/tests/t*
!/tests/t*.nim
/run.sh.csv

# Ignore debugging
.gdb_history
.gdb_info
*.sig
*.asc
*.pgp
*.out

# Ignore documentation
/htmldocs/

# Ignore GnuPG source
# Keep the binaries though
/gnupg/gnupg-1.4.13.tar.bz2
/gnupg/src/
/gnupg/home/
/gnupg/install/share/

# Ignore IDE
/.vscode/
