# Ignore build output
/flush_reload_test
/build/
/nimcache/

# Ignore test output
/tests/t*
!/tests/t*.nim
/run.sh.csv

# Ignore debugging
.gdb_history
.gdb_info
*.sig
*.asc
*.pgp
*.out

# Ignore documentation
/htmldocs/

# Ignore GnuPG source
# Keep the binaries though
/gnupg-1.4.13/gnupg-1.4.13.tar.bz2
/gnupg-1.4.13/src/
/gnupg-1.4.13/home/
/gnupg-1.4.13/install/share/
