# Ignore build output
/flush_reload_test
/build/
/nimcache/

# Ignore test output
/tests/t*
!/tests/t*.nim
/run.sh.csv

# Ignore debugging
.gdb_history
.gdb_info
*.sig
*.asc

# Ignore documentation
/htmldocs/

# Ignore GnuPG test
/gnupg-1.4.13/
